.event-card{
  padding: 0;
  margin-bottom: 15px;
  margin-top: 15px;
}

.event-card a{
  text-decoration: none;
}

.card-img-top{
  max-height: 200px;
  z-index: 0;
}
.card-body{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.poster-card__date{
  color :#45494E;
  font-size: 12px;
}
.poster-card__title{
  color: #282C35;
  font-size: 15px;
  font-weight: 600;
}
.poster-card__venue{
  color: #666A73;
  font-size: 12px;
}
.poster-card__footer{
  height: 40px;
  line-height: 40px;
  padding-right: 80px;
  padding-left: 15px;
  border-top: 1px solid #EFF2F5;
}
.event-category, .event-format{
  font-size: 12px;
  color: #45494E;
  margin-right: 10px;
}

.poster-card__label{
  background-color: rgba(255,255,255,.92);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  color: #282C35;
  padding: 2px 11px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.popular-events > .row{
  margin-left: 10px;
  margin-right: 10px;
}

.poster-card__actions{
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
}

.share-action, .bookmark{
  display: inline-block;
  color: #666A73;
  width: 40px;
  height: 40px;
  border-left: 1px solid #EFF2F5;
  box-sizing: border-box;
  text-align: center;
}
.poster-card, .poster-card-body, .poster-card__venue, .poster-card__title, .poster-card__tags{
  text-overflow: ellipsis;
  overflow: visible;
  white-space: nowrap;
}
