/*slideshow*/
.slideshow {
  height: 500px;
  position: relative;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

.slideshow img {
  width: 100%;
  max-height: 450px;
  position: absolute;
  opacity: 0;
  transition: all 1s ease;
}

.slideshow img.active {
  opacity: 1.0;
}
