.container.category
  .row
    .col-sm-12.group-header
      h3.section-header Browe by Top Categories
    
    .col-sm-12.col-md-8.container.card-group
      .group
        a(href="#")
          figure.effect-lily  
            img.background-image(src="./images/MUSIC.jpg", alt="muisc")
            .centered
              figcaption
                h4.category-card__label Music
                p Intimate house concerts, major music festivals, and the occasional dance party
        
    .col-sm-6.col-md-4.container.card-group
      .group
        a(href="#")
          figure.effect-lily
            img.background-image(src="./images/FOOD.jpg" alt="food")
            .centered
              figcaption
                h4.category-card__label Food & Drink
                p Dinner parties, tastings, and big-time festivals
    
    .col-sm-6.col-md-4.container.card-group
      .group
        a(href="#")
          figure.effect-lily
            img.background-image(src="./images/CLASS.jpg", alt="class")
            .centered
              figcaption
                h4.category-card__label Classes
                p Enlightening seminars, technical workshops, and fitness classes
    
    .col-sm-6.col-md-4.container.card-group
      .group
        a(href="#")
          figure.effect-lily
            img.background-image(src="./images/ART.jpg", alt="art")
            .centered
              figcaption
                h4.category-card__label Arts
                p Plays, comedy nights, art exhibitions and film festivals
      
    .col-sm-6.col-md-4.container.card-group
      .group
        a(href="#")
          figure.effect-lily
            img.background-image(src="./images/PARTY.jpg", alt="party")
            .centered
              figcaption
                h4.category-card__label Parties
                p Casual happy hours, singles nights, and all-night celebrations
      
    .col-sm-6.col-md-4.container.card-group.card-group__sports
      .group
        a(href="#")
          figure.effect-lily
            img.background-image(src="./images/SPORTS.jpg", alt="sports")
            .centered
              figcaption
                h4.category-card__label Sports & Wellness
                p Obstacle races, drop-in yoga classes, and the big game
    
    .col-sm-12.col-md-8.container.card-group
      .group
        a(href="#")
          figure.effect-lily
            img.background-image(src="./images/NETWORK.jpg", alt="network")
            .centered
              figcaption
                h4.category-card__label Networking      
                p Business mixers, hobby meetups, and panel discussions
