.container.category
  .row
    .col-sm-12.group-header
      h3.section-header Browe by Top Categories
    
    .col-sm-12.col-md-8.container.card-group
      .group
        a(href="#")
          img.background-image(src="./images/MUSIC.jpg", alt="muisc")
          .centered
            h4.category-card__label Music
      
    .col-sm-6.col-md-4.container.card-group
      .group
        a(href="#")
          img.background-image(src="./images/FOOD.jpg" alt="food")
          .centered
            h4.category-card__label Food & Drink
    
    .col-sm-6.col-md-4.container.card-group
      .group
        a(href="#")
          img.background-image(src="./images/CLASS.jpg", alt="class")
          .centered
            h4.category-card__label Classes
    
    .col-sm-6.col-md-4.container.card-group
      .group
        a(href="#")
          img.background-image(src="./images/ART.jpg", alt="art")
          .centered
            h4.category-card__label Arts
      
    .col-sm-6.col-md-4.container.card-group
      .group
        a(href="#")
          img.background-image(src="./images/PARTY.jpg", alt="party")
          .centered
            h4.category-card__label Parties
      
    .col-sm-6.col-md-4.container.card-group.card-group__sports
      .group
        a(href="#")
          img.background-image(src="./images/SPORTS.jpg", alt="sports")
          .centered
            h4.category-card__label Sports & Wellness
    
    .col-sm-12.col-md-8.container.card-group
      .group
        a(href="#")
          img.background-image(src="./images/NETWORK.jpg", alt="network")
          .centered
            h4.category-card__label Networking      
