.global-footer
  .container
    .grid
      h2.sr-only Site Navigation
      .footer-group.small-hide.medium-hide
        .row
          ul.col-md-3.footer-links
            li
              h3.footer-text-heading-primary Use Eventbrites
            li
              a(href="#") How It Works
            li
              a(href="#") For Large & Complex Events
            li
              a(href="#") Pricing
            li
              a(href="#") Community Guidelines
            li
              a(href="#") Eventbrite Mobile App
            li
              a(href="#") Eventbrite Check-in App
            li
              a(href="#") Eventbrite Spectrum
            li
              a(href="#") Rally - Fun Things To Do
            li
              a(href="#") Event Organizing Resources
            li
              a(href="#") Sitemap
          ul.col-md-3.footer-links
            li
              h3.footer-text-heading-primary Plan EVENTS
            li
              a(href="#") Conference Management
            li
              a(href="#") Software
            li
              a(href="#") Reunions
            li
              a(href="#") Nonprofits & Planning
            li
              a(href="#") Eventbrite Reviews
            li
              a(href="#") Sell Tickets
            li
              a(href="#") Event Management & Planning
            li
              a(href="#") Online Event Registration
            li
              a(href="#") Online RSVP
            li
              a(href="#") Venue Booking & Management
            li
              a(href="#") Event Promotion
          ul.col-md-3.footer-links
            li
              h3.footer-text-heading-primary Find Events
            li
              a(href="#") Bostion Events
            li
              a(href="#") Chicago Events
            li
              a(href="#") Denver Events
            li
              a(href="#") Houston Events
            li
              a(href="#") Los Angeles Events
            li
              a(href="#") Nashville Events
            li
              a(href="#") New York Events
            li
              a(href="#") San Diego Events
            li
              a(href="#") San Francisco Events
            li
              a(href="#") All Cities
          ul.col-md-3.footer-links
            li
              h3.footer-text-heading-primary Connect With Us   
            li
              i.fa.fa-envelope(aria-hidden='true')
                a(href="#") Contact Support
            li
              i.fa.fa-envelope(aria-hidden='true')
                a(href="#") Contact Sales
            li
              i.fa.fa-twitter(aria-hidden='true')
                a(href="#") Twitter
            li
              i.fa.fa-facebook-official(aria-hidden='true')
                a(href="#") Facebook
            li
              i.fa.fa-linkedin-square(aria-hidden='true')
                a(href="#") Linkedln
            li
              i.fa.fa-instagram(aria-hidden='true')
                a(href="#") Instagram
            li
              i.fa.fa-google-plus(aria-hidden='true')
                a(href="#") Google+ 
      //여기는 로그인 하지 않은 사람들이 보여짐
      .footer-group.small-hide       
        .footer-section__border
          h3.footer-text-heading-primary Country
          ul.footer-links.country
            li
              a(href="#") Argentina
            li
              a(href="#") Australia
            li
              a(href="#") Brasil
            li
              a(href="#") Canada (EN)
            li
              a(href="#") Canada (FR)
            li
              a(href="#") Chile
            li
              a(href="#") Colombia
            li
              a(href="#") Deutschland
            li
              a(href="#") Espana
            li
              a(href="#") France
            li
              a(href="#") Hong Kong
            li
              a(href="#") Ireland  
            li
              a(href="#") Italia 
            li
              a(href="#") Mexico 
            li
              a(href="#") Nederland
            li
              a(href="#") New Zealand 
            li
              a(href="#") Peru  
            li
              a(href="#") Portugal
            li
              a(href="#") Singapore
            li
              a(href="#") United Kingdom
            li
              a(href="#") United States 
               
      .footer-group.footer-corps        
        .row
          ul.footer-links.col-sm-12.col-md-8.col-lg-9.large-hide
            li.hide-large
              a.text-body-small.hide-large(href="#") How It Works
            li.hide-large
              a.text-body-small.hide-large(href="#") Pricing
            li.hide-large
              a.text-body-small.hide-large(href="#") Contact Support
            li.hide-large
              a.text-body-small.hide-large(href="#") Contact Sales
            li
              a.text-body-small(href="#") About
            li
              a.text-body-small(href="#") Blog
            li
              a.text-body-small(href="#") Help
            li
              a.text-body-small(href="#") Careers
            li
              a.text-body-small(href="#") Press
            li
              a.text-body-small(href="#") Security
            li
              a.text-body-small(href="#") Developers
            li
              a.text-body-small(href="#") Terms  
            li
              a.text-body-small(href="#") Privacy
            li
              a.text-body-small(href="#") Cookies
          
          .dropdown.region-selector.col-sm-12.col-md-4.col-lg-2.justify-content-center
            .dropdown
              button#region.btn.btn-third.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                i.fa.fa-globe(aria-hidden="true") United States
              .dropdown-menu(aria-labelledby="region")
                button.dropdown-item(type="button") Argentina
                button.dropdown-item(type="button") Australia
                button.dropdown-item(type="button") Brasil
                button.dropdown-item(type="button") Canada(EN)
                button.dropdown-item(type="button") Canada(FR)
                button.dropdown-item(type="button") Deutschland
                button.dropdown-item(type="button") Espana
                button.dropdown-item(type="button") France
                button.dropdown-item(type="button") Hong Kong
                button.dropdown-item(type="button") Ireland
                button.dropdown-item(type="button") Italia
                button.dropdown-item(type="button") Nederland
                button.dropdown-item(type="button") New Zealand
                button.dropdown-item(type="button") Portugal
                button.dropdown-item(type="button") Singapore
                button.dropdown-item(type="button") United Kingdom
                button.dropdown-item(type="button") United States
      .text-border
        .text-copyright @2017 DahamLeee
        
              
              
              
              
              
              
              
              
