.slideshow.col
  img.slides.active(src="./images/001.jpg", alt="Christmas")
  img.slides(src="./images/002.jpg", alt="Wolves")
  img.slides(src="./images/003.jpg", alt="Star")
  img.slides(src="./images/004.jpg", alt="Music")
