extends ../layout

block content
  .container.popular-events
    .row
      if parties.total <= 0
        p There are no events. Please register event!
      else
        each party in parties.docs
          include ../includes/eventcard

block category
